/*

"aboutContent">
  <div class="aboutImage">
    <img src="images/aboutStudio.jpg"></img>
  </div>

  <div class="aboutText">

*/


.unscramble {
	margin-left: 10px;
}

.aboutContent {
	margin-top: 60px;
}

body, body * {
	margin: 0
	background: lightblue;
  font-family: "Trebuchet MS";
  text-align: center;
}

header, header * {

  margin: 0
  background: lightblue;
  font-family: "Trebuchet MS";

}
.filterButtons {
   align-content: center;
   display: inline-block;
   padding: 30px;
   text-align: center;

}

.filterButton {
   display: inline-block;
   padding-right: 30px;
   padding-left: 30px;
   align-content: center;
   text-align: center;
}

p, p * {
  font-family: "Trebuchet MS";
  font-size: 20px;
}

h1, h1 * {
  color: grey;
  text-align: center;
  font-family: "Trebuchet MS";
}

#aboutContent {
	display: inline-block;
	width: 100%;
	height: 100%;
	color:black;
	text-align: center;
}
.aboutImage {
	width: 100%;

}
img {
	width: 50%;
	height: auto;
	padding: 5%;
}

h3 {
	font-size: 20px;
	text-align: center;
	color:black;

}

p {
	font-size: 12px;
	margin: 0; 
	/*margin-top: 10px;*/
	font-style: italic;
	text-align: center;
	color: black;

	/*vertical-align: middle;*/
}

/*#spacer {
	margin-top: 10px;
	padding-top: 10px;
}*/
#forComissionsScramble {
	margin-top: 10px;
	color:black;
	text-align: center;

}

.unscramble {
	display: inline-block;
	margin-top: 0px;
	color:black;
	text-align: center;

}

.brownDegrees {
	font-size: 14px;
	font-style: normal;
	margin: 0;
	color:black;
/*	text-align: center;*/

	/*padding: 0; */
}

.exhibitionsTitle {
	font-size: 10px;
}

.subExhibitionInfo {
	text-indent: 30px;
}


/*@media (max-width: 1200px) {
	p {
		font-size: 1.2vw;
		/*vertical-align: middle;*/
	/*}
	img {
		width: 400px;
		height: auto;
		padding: 5%;
	}
}
@media (max-width: 1000px) {
	p {
		font-size: 1.2vw;
	}
	img {
		width: 400px;
		height: auto;
		padding: 5%;
	}
}
@media (max-width: 800px) {
	p {
		font-size: 1.2vw;
		/*vertical-align: middle;*/
	/*}
	img {
		width: 350px;
		height: auto;
		padding: 5%;
	}
}*/


