body {
	margin: 0
	background: lightblue;

}

/*.grid-item { 
  width: 200px; 
}
.grid-item--width2 { 
  width: 400px;
}*/

p, p * {
  font-family: "Trebuchet MS";
  font-size: 20px;
}

h1 {
  color: grey;
  text-align: center;
}