body, body * {
	margin: 0
	background: lightblue;
  font-family: "Trebuchet MS";
}

header, header * {

  margin: 0
  background: lightblue;
  font-family: "Trebuchet MS";

}

.filterButtons {
   display: inline-block;
   padding: 4px;
   align-content: center;
}

/*.grid-item { 
  width: 200px; 
}
.grid-item--width2 { 
  width: 400px;
}*/

p, p * {
  font-family: "Trebuchet MS";
  font-size: 20px;
}

h1, h1 * {
  color: grey;
  text-align: center;
  font-family: "Trebuchet MS";
}