/*
abstractionArray = shuffleArray(abstractionArray);
exhibitionsArray = shuffleArray(exhibitionsArray);
natureArray = shuffleArray(natureArray);
portraitureArray = shuffleArray(portraitureArray);
representationArray = shuffleArray(representationArray);
*/

section {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px; 
  padding-left: 10%;
  padding-right: 10%; 
  margin-left: 5%;
  margin-right: 5%;
}

section img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  section {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  padding-left: 10%;
  padding-right: 10%;
  }

  section img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
}
@media (max-width: 1000px) {
  section {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  padding-left: 10%;
  padding-right: 10%;
  }
}
@media (max-width: 800px) {
  section {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  padding-left: 10%;
  padding-right: 10%;
  }
}
@media (max-width: 400px) {
  section {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  padding-left: 5px;
  padding-right: 5px;
  }
}


body, body * {
	margin: 0
	background: lightblue;
  font-family: "Trebuchet MS";
  text-align: center;
}

header, header * {

  margin: 0
  background: lightblue;
  font-family: "Trebuchet MS";

}
.filterButtons {
   align-content: center;
   display: inline-block;
   padding: 30px;

}

.filterButton {
   display: inline-block;
   padding-right: 30px;
   padding-left: 30px;
   align-content: center;
}

/*@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}*/

/*.grid-item { 
  width: 200px; 
}
.grid-item--width2 { 
  width: 400px;
}*/

p, p * {
  font-family: "Trebuchet MS";
  font-size: 20px;
}

h1, h1 * {
  color: grey;
  text-align: center;
  font-family: "Trebuchet MS";
}