

.aboutContent {
	margin-top: 60px;
}


body, body * {
	margin: 0
	background: lightblue;
  text-align: center;
}

header, header * {

  margin: 20px;

}

p, p * {
  font-size: 20px;
}

h1, h1 * {
  color: grey;
  text-align: center;
  padding-top: 50px;
}

#aboutContent {
	display: inline-block;
	width: 100%;
	height: 100%;
	color:black;
	text-align: center;
}
.aboutImage {
	width: 100%;

}
img {
	width: 80%;
	height: auto;
	padding-top: 5%;
	padding-bottom: 2%;
}

h3 {
	font-size: 20px;
	text-align: center;
	color:black;

}

p {
	font-size: 12px;
	margin: 0; 
	/*margin-top: 10px;*/
/*	font-style: italic;
*/	text-align: center;
	color: black;

	/*vertical-align: middle;*/
}

/*#spacer {
	margin-top: 10px;
	padding-top: 10px;
}*/
#forComissionsScramble {
	margin-top: 10px;
	color:black;
	text-align: center;

}

.unscramble {
	display: inline-block;
	margin-top: 0px;
	color:black;
	text-align: center;

}

.brownDegrees {
	font-size: 14px;
	font-style: normal;
	margin: 0;
	color:black;
/*	text-align: center;*/

	/*padding: 0; */
}

.exhibitionsTitle {
	font-size: 10px;
}

.subExhibitionInfo {
	text-indent: 30px;
}


#teaserImage {
	width: 80%;
}

p {
	/*width: 80%;*/
	/*text-align: center;*/
	/*align-self: center;*/
	/*align-content: center;*/
	font-size: 15px;
}

h3 {
	margin: 10px;
}

iframe {
	padding-bottom: 5%;
}

.txt {
	width: 80%;
	align-self: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	/*align-content: center;*/
}

figcaption {
	font-size: 13px;

}

@media (max-width: 400px) {
	img {
		width: 97%;
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	figure {
		margin-left: 0px;
		margin-right: 0px;
	}
}

h2 {
	margin: 0px;
}

#universityText {
	font-size: 18px;
	margin-top: 5px;
}
/*@media (max-width: 1200px) {
	p {
		font-size: 1.2vw;
		/*vertical-align: middle;*/
	/*}
	img {
		width: 400px;
		height: auto;
		padding: 5%;
	}
}
@media (max-width: 1000px) {
	p {
		font-size: 1.2vw;
	}
	img {
		width: 400px;
		height: auto;
		padding: 5%;
	}
}
@media (max-width: 800px) {
	p {
		font-size: 1.2vw;
		/*vertical-align: middle;*/
	/*}
	img {
		width: 350px;
		height: auto;
		padding: 5%;
	}
}*/


