<header class="header">

	<div class="wrap">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="header__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<div class="menu">
			<div class="menu__toggle js-menu-toggle">
				<div class="menu__toggle__icon"><span></span></div>
			</div>
			<div class="menu__wrap">
				<ul class="menu__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu__list__item">
						<a href="{{ item.url | relative_url }}" class="menu__list__item__link">{{ item.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>

	<script>
		// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Shop Header
		function turnOffButton(buttonID)
		{
		    document.getElementById(buttonID).className = document.getElementById(buttonID).className.replace(" active", "");
		}

		function showHideDiv(divToShowHide, secondaryDivToHide, buttonID, secondaryButton)
		{
		  if (divToShowHide.style.display == "none") {
		    divToShowHide.style.display = "block";
		    document.getElementById(buttonID).className += " active";

		    secondaryDivToHide.style.display = "none";
		    turnOffButton(secondaryButton);

		  } else {
		    divToShowHide.style.display = "none";
		    turnOffButton(buttonID);
		  }
		}

		function showHide(paperButtonClicked, canvasButtonClicked) {
		  var paperDiv = document.getElementById("works-on-paper-div");
		  var canvasDiv = document.getElementById("works-on-canvas-div");
		  if (paperButtonClicked)
		  {
		    showHideDiv(paperDiv, canvasDiv, "works-on-paper-button", "works-on-canvas-button");
		  }

		  if (canvasButtonClicked)
		  {
		    showHideDiv(canvasDiv, paperDiv, "works-on-canvas-button", "works-on-paper-button");
		  }
		} 

	</script>

</header>