
/**

painting collections homepage css

<div class="collections-item">
  <h4><a href="{{site.baseurl}}/painting-collections/{{painting-collection.slug}}/" class="{% if page.url contains painting-collection.slug %}current{% endif %}"> {{painting-collection.title}} ({{painting-collection.subtitle}})</a></h4>

  <div class="collections-item__image">
      <img src="{{ painting-collection.collection_featured_image | relative_url }}" alt="{{ painting-collection.title }}">
  </div>

  <div class="collections-item__description">
      
  </div>

*/


.collections-item {
  position: relative;
  max-width: 95%;
  margin: 20px auto;

  @media(min-width:800px) {
    max-width: 80%;
    margin: auto;
  }
}


.collections-item__image {
  position: relative;
  max-width: 100%;
  margin: 20px auto;

  @media(min-width:800px) {
    max-width: 80%;
    margin: auto;
  }

  @media(min-width:1000px) {
    max-width: 70%;
    margin: auto;
  }
}


/**

painting collection css

*/

@media(min-width:768px) {

    .container-1 {
      display:flex;
      justify-content: center;
      align-items:center;
    }

    .box-image-left {
      order:1;
      flex-basis: 40%;
      padding: 30px;
    }

    .box-image-right {
      order:2;
      flex-basis: 40%;
      padding: 30px;
    }

    .box-description-left{
      order:1;
      flex-basis: 40%;
      padding: 10px;
      text-align: right;
    }

    .description-margin-zero {
      margin: 0px;
    }
  }
  

  .description-margin-zero {
    margin: 0px;
  }
  
  .box-image-left {
	order:1;
	flex-basis: 40%;
	padding-right: 50px;
      padding-left: 50px;
      padding-top: 100px;
  }

  .box-image-right {
    order:2;
    flex-basis: 40%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 100px;
  }
  
  .box-description-right{
    order:2;
    flex-basis: 40%;
    padding: 10px;
  }

  .box-description-left{
    order:1;
    flex-basis: 40%;
    padding: 10px;
  }