
/**

painting collections css

*/

@media(min-width:768px) {

    .container-1 {
      display:flex;
      justify-content: center;
      align-items:center;
    }

    .box-image-left {
      order:1;
      flex-basis: 40%;
      padding: 30px;
    }

    .box-image-right {
      order:2;
      flex-basis: 40%;
      padding: 30px;
    }

    .box-description-left{
      order:1;
      flex-basis: 40%;
      padding: 10px;
      text-align: right;
    }

    .description-margin-zero {
      margin: 0px;
    }
  }
  

  .description-margin-zero {
    margin: 0px;
  }
  
  .box-image-left {
	order:1;
	flex-basis: 40%;
	padding-right: 50px;
      padding-left: 50px;
      padding-top: 100px;
  }

  .box-image-right {
    order:2;
    flex-basis: 40%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 100px;
  }
  
  .box-description-right{
    order:2;
    flex-basis: 40%;
    padding: 10px;
  }

  .box-description-left{
    order:1;
    flex-basis: 40%;
    padding: 10px;
  }