---
layout: default
---

<section class="intro">

    <div class="wrap">
        <h2>{{ page.title }}</h2>
    </div>

</section>

<section class="single">

    {{ page.content }}
    
    <nav>
    <ul>
        {% for painting-collection in site.painting-collections %}
        <li>
            <a href="{{site.baseurl}}/painting-collections/{{painting-collection.slug}}/" class="{% if page.url contains painting-collection.slug %}current{% endif %}"> {{painting-collection.title}} ({{painting-collection.subtitle}})</a>
            </li>
        {% endfor %}
        <ul>
            </nav>

    

</section>

