---
layout: default
---

<section class="intro">

    <div class="wrap">

        <h1>{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>

    </div>

</section>

<section class="single">

    {{ page.content }}

    <h3> collections </h3>

    <nav>
        <ul>
        {% for painting-collection in site.painting-collections %}
        <li>
            <a href="{{site.baseurl}}/painting-collections/{{painting-collection.slug}}/" class="{% if page.url contains painting-collection.slug %}current{% endif %}"> {{painting-collection.title}}</a>
            </li>
        {% endfor %}
        <ul>
    </nav>

</section>

