---
layout: default
---

<section class="intro">

    <div class="wrap">

        <h1>{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
        <p> {{ page.description }} </p>

    </div>

</section>

<section class="single">

    {{ page.content }}
    <!-- <div class="box-image-left">
    <img src="/website/images/2021/december-shop/rosewater/rosewater-0.jpg">
  </div>
  <div class="box-description-right"> -->

<h1> hello </h1>
    {% for painting in site.paintings reversed %}
<p> {{painting.title}} </p>
<p> {{painting.collection}} </p>
      <!-- if the painting is not sold -->
      {% if painting.painting-collection contains "Fresh Start" %}
<p> {{painting.painting-collection}} </p>
          <div class="{{painting.image-layout}}">
          {% for image in site.static_files %}
              {% if image.path contains {{painting.images-folder}} %}
                  {% if image.path contains "shop-carousel" %}
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                  {% endif %}
              {% endif %}
          {% endfor %}
        </div>
        <div class="{{painting.layout}}">
            <h4>{{ painting.title }} ({{ painting.year }})</h4>
            <p class="description-margin-zero">{{painting.materials}}</p>
            <p class="description-margin-zero">{{painting.size}}</p>
            <p class="description-margin-zero">{{painting.price}}</p>
            <div class="paypal-button">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="{{paypal-button-id}}">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            </div>
          </div>
      {% endif %}
    {% endfor %}

    <h1>bye</h1>

    <h3> collections </h3>

    <nav>
        <ul>
            {% for painting-collection in site.painting-collections reversed %}
            <li>
                <a href="{{site.baseurl}}/painting-collections/{{painting-collection.slug}}/" class="{% if page.url contains painting-collection.slug %}current{% endif %}"> {{painting-collection.title}} ({{painting-collection.subtitle}})</a>
            </li>
            {% endfor %}
        <ul>
    </nav>

</section>

