---
layout: default
---

<section class="intro">

    <div class="wrap">
        <h2>{{ page.title }}</h2>
    </div>

</section>

<section class="single">

    {{ page.content }}

    <nav>
        <ul>
            {% for painting-collection in site.painting-collections reversed %}
            
                <div class="collections-item">
                    <h4><a href="{{site.baseurl}}/painting-collections/{{painting-collection.slug}}/" class="{% if page.url contains painting-collection.slug %}current{% endif %}"> {{painting-collection.title}} ({{painting-collection.subtitle}})</a></h4>

                    <div class="collections-item__image">
                        <img src="{{ painting-collection.collection_featured_image | relative_url }}" alt="{{ painting-collection.title }}">
                    </div>

                    <div class="collections-item__description" style="padding-bottom: 50px;">
                        <p>{{ painting-collection.description }} </p>
                    </div>
                </div>
            {% endfor %}
        <ul>
    </nav>

</section>

