---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	{{ page.content }}

	<h3>keep reading...</h3>
	<nav>
        <ul>
            {% for post in site.posts %}
            <li>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{post.title}} ({{post.date | date_to_long_string }})</a>
            </li>
            {% endfor %}
        <ul>
    </nav>

</section>