---
layout: default
---

<section class="intro">

    <div class="wrap">
        <h2>{{ page.title }}</h2>
    </div>

</section>

<section class="single">

    {{ page.content }}
    
    {% for painting in site.paintings reversed %}
      <!-- if the painting is not sold -->
      {% if painting.price != "SOLD" %}
          <div class="gallery" data-columns="1">
          {% for image in site.static_files %}
              {% if image.path contains {{painting.images-folder}} %}
                  {% if image.path contains "shop-carousel" %}
                    <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                  {% endif %}
              {% endif %}
          {% endfor %}
        </div>
        <div style="padding-bottom: 100px">
            <h4>{{ painting.title }} ({{ painting.year }})</h4>
            <p class="description-margin-zero">{{painting.materials}}</p>
            <p class="description-margin-zero">{{painting.size}}</p>
            <p class="description-margin-zero">{{painting.price}}</p>
            <div class="paypal-button">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="{{paypal-button-id}}">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            </div>
          </div>
      {% endif %}
    {% endfor %}


<h3> FAQ </h3>

<h4>How much does shipping cost?</h4>
<p>Shipping is free to the US & Canada.  For international shipping, inquire by sending Montana an email at montana c fowler at g m a i l dot com.</p>

<h4>How safe is shipping?</h4>
<p>Montana carefully packages paintings herself with glassine paper to protect the surfaces.  She reuses packaging materials she collects from her online orders or her neighbors to reduce the environmental impact of the packaging. She has successfully mailed over 10 pieces to their new homes across the US from Oregon to Massachusetts, and many states in between.  </p>

<h4>What if the painting is damaged during shipping?</h4>
<p>If the painting is damaged during shipping, Montana will issue a full refund for the piece.</p>

<h4>What if I need more images or information about the piece before deciding to purchase?</h4>
<p>Reach out to Montana over email, and she will be happy to chat on the phone, provide more documentation like videos or additional images.  She cares about her collectors finding the right piece for them and their space.</p>

<h4>The paypal button isn't working for me, what do I do?</h4>
<p>If you're accessing the website from a browser window within an app like Instagram, first try on an internet app or desktop browser (safari, chrome).  If it still isn't working, Montana is happy to help.  Reach out to her at montana c fowler at g m ai l dot com.</p>



</section>
